<body class="hold-transition login-page">
  <div class="login-box" >
    <div class="login-logo">
      <a href="#">KANBAN DEMO</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body text-center">
      <h2 class="headline text-yellow">404</h2> 
      <h3><i class="fa fa-warning text-yellow"></i> Page not Found.</h3>
      <p>This page does not exist</p>
      <p>
        <a class="btn btn-primary" [routerLink]="['/']">Restart</a>
      </p>  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>