<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">KANBAN Demo</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form (ngSubmit)="login()" [formGroup]="form">

                <div class="form-group has-feedback">
                    <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div [hidden]="!username.errors.email">
                            Check username.
                        </div>
                        <div [hidden]="!username.errors.required">
                            Username is required
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <input id="password" type="password" class="form-control" placeholder="Password" formControlName="password" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div [hidden]="!password.errors.required">
                            Password is required
                        </div>
                        <div [hidden]="!password.errors.minlength">
                            Password should be longer
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <button [disabled]="!form.valid || pending" type="submit" class="btn btn-primary btn-block btn-flat">
              <i [hidden]="!pending" class="fa fa-spin fa-refresh"></i>
              Sign In
            </button>
                    </div>

                    <!-- /.col -->
                </div>
            </form>
            <p>
                <a routerLink="/password-forgot">I forgot my password</a>
            </p>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
</body>